
<div class="file" id="<#id#>"
     data-parent="<#parent-id#>"
     data-streams="<#streams#>"
     data-size="<#size#>"
     data-duration="<#duration#>"
     data-date="<#date#>"
     data-path="<#path#>"
     data-comment="<#comment#>"
     title="<#title#>"
     onclick="showDetails(this)"
     onmouseout="hideCover(event)"
     onmouseover="showCover(this)">
    <div class="cover"><#cover#></div>
    <div class="info">
        <div class="title"><#title#></div>
        <div class="year"><#year#></div>
        <div class="artist"><#artist#></div>
        <div class="composer"><#composer#></div>
        <div class="genre"><#genre#></div>
        <div class="type"><#type#></div>
    </div>
</div>
